@model IEnumerable<Customers2019.Models.Customers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section Styles
{
    <style>
        thead {
            background-color: #ff6a00;
            color: #ffffff;
        }
    </style>
}

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-brands fa-accusoft"></i> 新增客戶</a>
</p>
國家:
<select asp-items="@ViewBag.Country"></select>
<table id="CustomersTable" style="width:100%">
    <thead>
        <tr>
            <th>
                公司
            </th>
            <th>
                聯絡人
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Fax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-CustomerID="@item.CustomerId">Edit</a> |
                    <a asp-action="Details" asp-route-CustomerID="@item.CustomerId">Details</a> |
                    <a asp-action="Delete" asp-route-CustomerID="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/jquery.freezeheader.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#CustomersTable").freezeHeader({
                "width": "100%",
                "height": "500px"
            });
        });
    </script>
}
